html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
}

.window-scroller-override {
  height: 100% !important;
}

.mui-grid {
  height: auto !important;
  justify-content: center;
}

.mui-grid-item {
  width: 275px;
  /*padding: 1.5 * theme.spacing.unit,*/
}

.mui-row {
  display: flex;
  justify-content: space-evenly;
}

.bordered {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  width: 300px;
  height: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.item img {
  height: 90px;
  align-self: center;
}

.list-view {
  /* display: flex;
  flex-direction: column-reverse; */
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.list-view>div {
  /* display: flex;
  flex-direction: column-reverse; */
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.list-row {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  transform: matrix(1, 0, 0, -1, 0, 0);
}
